body {
  background: #0000FF;
}

.morph-section {
  width: 600px;
  height: 600px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  font-family: monospace;
  color: #fff;
}

.info {
  font-family: 'Xanh Mono', monospace;
  position: absolute;
  line-height: 20px;
  font-size: 24px;
  left: ;
  bottom: ;
  color: #fff;
}

a {
  color: #f9f9f9;
}